@charset "utf-8";

/* fonts      */
@import url(https://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


/* CSS Document */
a,
button {
  min-width: 48px;
  min-height: 48px;
}

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #231910;
  color: #aaa;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 25px 0;
  text-align: center;
  text-transform: uppercase;
  align-content: center;
}

#footer #footer-content {
  -webkit-text-fill-color: white;
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
}

.footer-br {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 550px) {
  .footer-br {
    display: block;
    visibility: visible;
  }

  #footer #footer-content {
    line-height: 1em;
  }
}

@media screen and (max-width: 900px) {
  .inside #footer .footer-br {
    display: block;
    visibility: visible;
  }

  .inside #footer #footer-content {
    line-height: 0.7em;
  }
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #231910;
  text-align: center;
  display: inline-flex;
  z-index: 3;
}

nav h1 {
  margin: auto;
  max-width: 1000px;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 1.5em;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #c193bb;
  font-size: 17px;
  margin: 0;
  width: calc(50% - 80px);
  z-index: 2;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline-block;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li:first-child+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

.no-map-container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #524a43;
  flex-wrap: wrap;
  flex-direction: column;
}

.show-map-btn {
  color: white;
  border: 1px solid #203f1f;
  border-radius: 3em;
  background-color: #203f1f;
  padding: 12px 48px 12px;
  margin: auto;
  text-align: center;
  width: 25%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  align-content: center;
}

.show-map-btn:active,
.show-map-btn:hover,
.show-map-btn:focus {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.show-map-btn:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  transform: translateZ(-50)
}

@keyframes loading-map-bar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading-map-bar {
  padding-right: 5px;
  display: inline-block;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-name: loading-map-bar;
  animation-timing-function: linear;
  will-change: transform;
  transform: translateZ(0);
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  /*  height: 50px; */
  background-color: #231910;
  align-items: center;
  -webkit-text-fill-color: white;
}

.filter-options h2 {
  color: #000000;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  padding: 10px 0;
  text-align: center;
}

.filter-options select {
  background-color: #31653080;
  border: 1px solid khaki;
  border-radius: 3px;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

.filter-options select:hover,
.filter-options select:focus {
  background-color: green;
  border: 1px solid grey;
}

div#options {
  display: flex;
  flex-wrap: wrap;
  padding: 0 calc((100% - 440px) / 2);
  justify-content: center;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 270px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
  margin-top: 15px;
  border-radius: 5px;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: #694858;
  border-radius: 10px;
  color: #fff;
  /* display: inline-block; */
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: grid;
  align-content: center;
  box-shadow: 0px 0px 30px black;
}

#restaurants-list li a:hover,
#restaurants-list li a:focus {
  background-color: #231910;
  box-shadow: 0px 0px 15px black;
}

#restaurants-list li a:active {
  box-shadow: 0px 0px 0px black;
  transform: translateZ(-50);
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: white none repeat scroll 0 0;
  height: 87vh;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
  transition: width 1s;
  order: 0;
  z-index: 1;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}

section#restaurant-container {
  order: 1;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 0 30px;
  width: 50%;
  transition: height 1s;
  z-index: 1;
}

#reviews-details,
#restaurant-details {
  align-content: center;
  margin: 0 5%;
  width: 90%;
}

#reviews-container {
  padding: 30px 0 80px;
  order: 2;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
  width: 100%;
}

#reviews-list>li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 auto 30px;
  overflow: hidden;
  padding: 0 2.5% 20px;
  position: relative;
  width: 90%;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
}

.reviews-delete {
  position: absolute;
  padding: 15px;
  right: 0;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 1.5em;
}

@media screen and (max-width: 900px) {
  .inside #map-container {
    position: relative;
    height: 70vh;
    padding-top: 50px;
  }

  #restaurant-container {
    padding-top: 100px;
  }

  #breadcrumb,
  .inside #footer,
  .inside #map-container,
  #restaurant-container,
  #reviews-container {
    width: 100%;
  }

  #breadcrumb {
    box-sizing: border-box;
  }

}

/* ========================= Map ==================================== */
.leaflet-touch .leaflet-bar a {
  display: grid;
  align-content: center;
}

div.leaflet-control-attribution .leaflet-control {
  aria-hidden: true;
}

.leftlet-container .leftlet-control-attribution,
.leftlet-container .leftlet-control-scale {
  font-size: 12px;
}

.leaflet-container a {
  color: #15546d;
}

/* Reviews form */

.reviews-form {
  max-width: 400px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.reviews-form-fields {
  border-radius: 8px;
  border: 2px solid rgb(114, 114, 114);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}

.reviews-form-name {
  width: 60%;
  margin-right: 7%;
  display: inline-block;
}

.reviews-form-rating {
  display: inline-block;
  width: 30%;
  text-align: end;
}

.rating-option {
  position: relative;
  display: inline;
}

.rating {
  list-style: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.reviews-form-comment {
  width: 100%;
  min-height: 100px;
}

.reviews-submit {
  float: right;
  background-color: darkblue;
  box-shadow: 1px 8px 8px rgba(0, 0, 0.2);
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 60px;
  text-align: center;
  border-radius: 5px;
}

.reviews-submit:active {
  box-shadow: 0px 2px 2px rgba(0, 0, 0.2);
}